<header>
	<!--img src="images/besouro.gif" alt="{{title}} Logo" title="{{title}}" style="float: left;"-->
	<h1>{{title}}</h1>
	<p>Welcome to {{title}}</p>
	{% include 'partials/menu.twig' with { menu: menu } %}
</header>