<form >
	<input
		type="text"
		title="Search"
		placeholder="Search"
		value=""
		maxlength="2048"
		autocapitalize="off"
		autocorrect="off" 
		autocomplete="off"
		aria-label="Search"
		aria-haspopup="false"
		dir="auto"
		spellcheck="false"
	>
	<button type="submit">Search</button>
</form>